{% extends "base.html" %}

{% block content %}
<h1>TODO List</h1>
<a href="{% url 'todo_list:add-task' %}" class="btn btn-primary link-to-page">
  Add task
</a>
<ul>
  {% for task in tasks %}
    <li>
      {{ task.content }} -
      {% if task.is_done %}
        <span>Done</span>
      {% else %}
        <span>Not done</span>
      {% endif %}
      <br>
      Created: {{ task.created_at }}
      {% if task.deadline %}
        <br>
        Deadline: {{ task.deadline }}
      {% endif %}
    </li>
  {% empty %}
    <li>No tasks available.</li>
  {% endfor %}
</ul>
{% endblock %}