{% extends "base.html" %}

{% block content %}
  <h1>TODO List</h1>
  <a href="{% url 'todo_list:add-task' %}" class="btn btn-primary link-to-page">
    Add task
  </a>
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.content }}
        {% if task.is_done %}
          <span class="text-success">Done</span>
          <form action="{% url 'todo_list:toggle-task' task.pk %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary link-to-page">Undo</button>
          </form>
        {% else %}
          <span class="text-danger">Not done</span>
          <form action="{% url 'todo_list:toggle-task' task.pk %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success link-to-page">Complete</button>
          </form>
        {% endif %}
        <br>
        Created: {{ task.created_at }}
        {% if task.deadline %}
          <br>
          Deadline: {{ task.deadline }}
        {% endif %}
        <a href="{% url 'todo_list:update-task' task.pk %}" class="btn btn-secondary link-to-page">Update</a>
        <a href="{% url 'todo_list:delete-task' task.pk %}" class="btn btn-danger link-to-page">Delete</a>
      </li>
    {% empty %}
      <li>No tasks available.</li>
    {% endfor %}
  </ul>
{% endblock %}